@import "tailwindcss";

@theme {
    --color-primary: #6D28D9;
    --color-success: #22C55E;
    --color-danger: #EF4444;
    --color-bg: #F8F9FA;
    --color-card: #FFFFFF;
    --color-keyboard: #E5E7EB;
}